.container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(172,113,139);
background: linear-gradient(90deg, rgba(172,113,139,1) 0%, rgba(88,73,226,1) 0%, rgba(63,139,228,0.9850315126050421) 100%); 

}
.aboutmeBox{
    display:flex;
    width: 50%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 160px;

    border-radius: 2em;
}
.imgBox{
    width:40%; 
    display:flex; 
    align-items: center;
    justify-content: center;
}
.profile{
    width: 350px;
    clip-path: circle(38%);

}
.aboutmewrite {
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    background-color: rgba(246, 248, 252, 0.65);
    border-radius: 2em;
  
}
.aboutmetext{
margin:0px 10px 10px 20px;
}
.boxbtn{
    margin-bottom: 10px;
    
}
.btncv{
    background-color:rgb(81, 117, 235);
    border-radius: 1em; 
    color: #FAFBFD;
    border:15px;
    height:30px;
}
.btncv:hover{
    background-color: rgb(28, 38, 190);
}

@media (max-width:440px) {

    .aboutmeBox{
        width: 70%;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .aboutmewrite {
        width:80%;
        margin: 10px 10px 15px 10px;
    }
    .profile{
        width: 350px;
        clip-path: circle(38%);
        margin-top:10px;
    }
}
@media (max-width:420px) {
   
    .aboutmewrite {
        width:85%;
        margin: 10px 10px 15px 10px;
    }
    .aboutmeBox{
        width: 80%;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width:770px) {

    .aboutmeBox{
        width: 80%;
    }
}
@media (max-width:860px) {

    .aboutmeBox{
        width: 80%;
    }
}