.container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.aboutmeBox{
    display:flex;
    width: 70%;
    height: 70vh;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    background-color: #365b66;
    
}
.imgBox{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.profile{
    width: 240px;
    border-radius: 50%;

}
.aboutmewrite {
  
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.aboutmetext{
    color:white;
}