.contactbox{
    width: 95%;
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.containerLogo{
    background-color: rgba(246, 248, 252, 0.75);
    width: 60%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    border-radius: 2em;
}
.contacttitle{
    color: #FAFBFD;
    font-size:20px;
    
}
.iconcontact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.texticonbox{
    margin-top: 10px;
}
.texticonbox p{
    font-size: 16px;
    color: #2f505a;
}
path:hover{
    fill:rgb(28, 38, 190);
}
@media (max-width:440px){
    .containerLogo{
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        margin-top: 60px;
    }
}
@media (max-width:320px){
    .containerLogo{
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        margin-top: 60px;
    }
}