.habilityBox{
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:10px;
    
}
.habilityBox h3{
font-size: 20px;

}
.box{  
    width: 90%; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxicons{
    width:80%;
    display:flex;
    flex-direction: column;
  
    margin-top: 60px;
    border-radius: 2em;
    justify-content: center;
}
.row{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.row2 {
    display:flex;
    justify-content: space-around;
       align-items: center;  
}
.row span{
    background-color: rgba(246, 248, 252, 0.65);
    width:100px;
    height:100px;
    display:inline-block;
    border-radius:50%;
    font-size:40px;
    line-height:120px;   
}
.row2 span{
    background-color: rgba(246, 248, 252, 0.65);
    width:100px;
    height:100px;
    display:inline-block;
    border-radius:50%;
    font-size:40px;
    line-height:120px; 
}
.row span:hover{
    background-color: rgba(27, 182, 182, 0.65);  
}
.row2 span:hover{
    background-color: rgba(27, 182, 182, 0.65);  
}
.row span i{
    contain:none; 
}
.row2 span i{
    contain:none; 
}
.row2 span p{
    contain:none;
}
.row span i:hover{
    color: #FAFBFD;
}
.row2 span i:hover{
    color: #FAFBFD;
}
 i svg path:hover{
    fill: #FAFBFD;
}
.habilityicon{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin:10px 10px 10px 10px;
}
.texticons h3{
    color: #FAFBFD;
    font-size:20px;
}
.habilityicon p{
    color: #FAFBFD;
}


@media (max-width:440px) {


    .boxicons{ 
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 50px
    }
    .row{
        flex-direction: column;
        margin-right: 20px;
    }
    .row2 {
       
           flex-direction: column;
           margin-left: 20px;
    }

    .row span{
        width:80px;
        height:80px;
        line-height:80px;   
    }
    .row2 span{
        
        width:80px;
        height:80px;
        line-height:80px; 
    }

    
}