nav{
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  background-color: #365b66;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.logoName{
  font-size:30px;
  color:white;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 50px;
}
 .menu{
   text-decoration: none;
   color:white;
 }
 .menu:hover{
  color:rgb(3, 14, 110);
 }
 @media (max-width:440px) {

  nav{
    height:8vh;
  }
  nav ul{
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin: auto;

  }
  nav ul li{
  
  display: flex;
   display: inline-block; 
   margin-right: 10px;
   margin-left: 0px;
  
  }

 }


