nav{
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  background-color: #1d809f;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.logoName{
  font-size:30px;
  color:white;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 50px;
}
 .menu{
   text-decoration: none;
   color:white;
 }
 .menu:hover{
  color:rgb(3, 14, 110);
 }