nav{
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  background: rgb(172,113,139);
background: linear-gradient(90deg, rgba(172,113,139,1) 0%, rgba(88,73,226,1) 0%, rgba(63,139,228,0.9850315126050421) 100%); 
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.logoName{
  font-size:30px;
  color:white;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 50px;
}
 .menu{
   text-decoration: none;
   color:white;
  font-size:18px; 
 }
 
 .menu:hover{
  color:rgb(3, 14, 110);
 }
 @media (max-width:440px) {

  nav{
    height:8vh;
  }
  nav ul{
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin: auto;

  }
  nav ul li{
  
  display: flex;
   display: inline-block; 
   margin-right: 10px;
   margin-left: 0px;
  
  }

 }
 @media (max-width:320px) {

  nav ul{
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin:0px 10px 0px 0px;
  }
  nav ul li{
  
    display: flex;
     display: inline-block; 
     margin-right: 10px;
     margin-left: 0px;
    
    }
    .menu {
      font-size:5px;
    }
 }

