body {
  margin: 0;
    width: 100%;
    background: rgb(172,113,139);
    background: linear-gradient(90deg, rgba(172,113,139,1) 0%, rgba(88,73,226,1) 0%, rgba(63,139,228,0.9850315126050421) 100%); 
    font-family: 'Hind', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
  
}

